.card {
    background: var(--surface-4);
    padding: var(--size-5);
    color: var(--gray-0);
    font-size: var(--font-size-2);
    border-radius: var(--radius-2);
}
.card-selected {
    outline: 2px solid var(--lime-7);
    outline-offset: 2px;
}
