.button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    white-space: nowrap;

    font-size: var(--font-size-1);
    font-weight: var(--font-weight-6);

    padding-inline: var(--size-3);
    padding-block: var(--size-1);

    color: var(--lime-8);
    border: var(--border-size-2) solid var(--lime-8);
    background: transparent;
    border-radius: var(--radius-3);

    transition: 150ms;

    &:hover {
        color: var(--lime-6);
        border-color: var(--lime-6);
    }
    @media (max-width: 768px) {
        font-size: var(--font-size-0);
    }
}

.danger {
    color: var(--red-10);
    border-color: var(--red-10);
    &:hover {
        color: var(--red-8);
        border-color: var(--red-8);
    }
}

.login {
    font-size: var(--font-size-3);
    font-weight: var(--font-weight-5);

    padding-inline: var(--size-3);
    padding-block: var(--size-1);

    color: var(--blue-6);
    border: var(--border-size-2) solid var(--blue-6);

    &:hover {
        color: var(--blue-4);
        border-color: var(--blue-4);
    }
}
