.column {
    position: relative;
    display: flex;
    flex-direction: column;
    height: calc(100vh - 16rem);
    overflow: hidden;

    background: var(--surface-2);
    border-radius: var(--radius-3);
    padding: var(--size-2);

    .column-title {
        position: sticky;
        top: 0;
        width: 100%;
        height: 3rem;
        padding: var(--size-2);
        background-color: var(--surface-3);
        margin-block-end: var(--size-3);
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 3;
        border-bottom: var(--border-size-2) solid var(--lime-8);
        font-size: var(--font-size-3);
        font-weight: var(--font-weight-5);
        color: var(--lime-6);
    }
    .cards {
        flex: 1;
        overflow-y: auto;
        padding: var(--size-2);
        display: flex;
        flex-direction: column;
        row-gap: var(--size-3);
    }
}
