.kanban {
    background: var(--surface-3);
    border-radius: var(--radius-3);
    box-shadow: var(--shadow-1);

    .header {
        background: var(--surface-4);
        padding: var(--size-3);
        border-radius: var(--radius-3) var(--radius-3) 0 0;

        display: flex;
        justify-content: space-between;
        align-items: center;

        .title {
            font-size: var(--font-size-3);
            font-weight: var(--font-weight-7);
            color: var(--lime-6);
        }

        .controls {
            display: flex;
            gap: var(--size-2);
        }

        @media (max-width: 768px) {
            flex-direction: column;
            row-gap: var(--size-3);

            .title {
                font-size: var(--font-size-2);
            }
        }
    }

    .board {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: var(--size-3);
        padding: var(--size-3);

        .column {
            position: relative;
            display: flex;
            flex-direction: column;
            height: calc(100vh - 16rem);
            overflow: hidden;

            background: var(--surface-2);
            border-radius: var(--radius-3);
            padding: var(--size-2);

            .column-title {
                position: sticky;
                top: 0;
                width: 100%;
                height: 3rem;
                padding: var(--size-2);
                background-color: var(--surface-3);
                display: flex;
                justify-content: center;
                align-items: center;
                z-index: 3;
                border-bottom: var(--border-size-2) solid var(--lime-8);
                font-size: var(--font-size-3);
                font-weight: var(--font-weight-5);
                color: var(--lime-6);
            }

            .cards {
                flex: 1;
                overflow-y: auto;
                padding: var(--size-2);
                display: flex;
                flex-direction: column;
                gap: var(--size-2);

                .card {
                    background: var(--surface-4);
                    padding: var(--size-5);
                    color: var(--gray-0);
                    font-size: var(--font-size-2);
                    border-radius: var(--radius-2);
                }
            }
        }
        @media (max-width: 1024px) {
            grid-template-columns: 1fr;
        }
    }
}
