.header {
    background: var(--surface-4);
    padding: var(--size-3);
    border-radius: var(--radius-3) var(--radius-3) 0 0;

    display: flex;
    justify-content: space-between;
    align-items: center;

    .title {
        font-size: var(--font-size-3);
        font-weight: var(--font-weight-7);
        color: var(--lime-6);
    }

    .controls {
        display: flex;
        gap: var(--size-2);
    }

    @media (max-width: 768px) {
        flex-direction: column;
        row-gap: var(--size-3);

        .title {
            font-size: var(--font-size-2);
        }
    }
}
